absl-py
aiohttp
aitextgen
async-timeout
attrs
cachetools
certifi
chardet
click
filelock
fire
Flask
fsspec
future
google-auth
google-auth-oauthlib
grpcio
gstreamer-player
gTTS
huggingface-hub
idna
itsdangerous
Jinja2
joblib
Markdown
MarkupSafe
multidict
mutagen
numpy
oauthlib
packaging
pip
playsound
protobuf
pyasn1
pyasn1-modules
pycairo
pyDeprecate
pygame
PyGObject
pyparsing
pytorch-lightning
PyYAML
regex
requests
requests-oauthlib
rsa
sacremoses
setuptools
six
tensorboard
tensorboard-plugin-wit
termcolor
tokenizers
torch
torchmetrics
tqdm
transformers
typing-extensions
urllib3
Werkzeug
wheel
yarl
